body {
	background: url(imgs/background.gif);
	background-repeat: repeat;
	background-repeat: repeat;
  background-size: 10%;
}

.border {
  box-shadow: 0px 0px 20px 5px #000000;
  padding: 2px;
  width: 555px;
  border-right: 10px solid white;
  border-left: 10px solid white;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  border-image: url('imgs/border.gif') 2% round;
    border-image-outset: 0;
    border-image-width: 1;
  border-image-outset: 3px 0px;
  border-image-width: inherit;
  background: white;
}